.aboutUs {
  text-align: center;
  font-style: italic;
  padding-top: 100px;
}


.welcome {
  font-style: italic;
  font-weight: lighter;
  /* width: 350px; */
  text-align: center;
  letter-spacing: 6px;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 76px;
}

.column-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.column-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-self: flex-start;
}

.about-line {
  border-bottom: 2px solid orange;
  padding-bottom: 10px;
  margin-top: -70px;
  margin-bottom: 30px;
  width: 86px;
  height: 5px;
  display: inline-block;
  margin-left: 320px;
}

.column-description h2 {
  width: 428px;
  height: 89px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  /* add this line */
  width: 100%;
  /* modify this line */
  margin-bottom: 20px;
  /* add this line */
}

.column-description p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 29px;
  height: 116px;
  left: 884px;
  top: 1564px;
  text-align: center;
  /* modify this line */
  width: 100%;
  /* modify this line */
}

.section2 {
  margin-top: 76px;
  padding-top: 10px;
}

.section2 h1 {
  margin-top: 120px;
  text-align: center;
}

.section2_inside1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  object-fit: contain;
}

.section2 .column img {
  width: 395px;
  text-align: center;
}

.section2 .column h3 {
  width: 400px;
  text-align: center;
}

.section2 .column p {
  width: 400px;
  text-align: center;
}

.section3 h4 {
  color: orange;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
}

.section3_inside {
  display: flex;
  justify-content: space-between;
}

.card1 {
  width: 424px;
  height: 300px;
  /* increase height for vertical alignment */
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 20px;
  display: flex;
  /* use flexbox to vertically align */
}

.card1 img {
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
  object-fit: contain;
}

.card1 p {
  font-size: 24px;
  line-height: 1.5;
  margin: 2px;
}

.card1-description {
  padding: 20px;
}

.section4 {
  margin-top: 120px;
  padding-top: 20px;
}

.section4_inside {
  display: flex;
  justify-content: space-between;

}

.card2 {
  display: flex;
  align-items: center;
  width: 424px;
  height: 238px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 20px;
  justify-content: space-evenly;
}

.card2 img {
  margin-right: 10px;
}

.card2 p {
  font-size: 26px;
}

.card2 .description {
  margin-top: 10px;
  font-style: italic;
}

.section5 {
  margin-top: 120px;

}

.section5 h2 {
  text-align: center;
}

.OurTeam-line {
  border-bottom: 2px solid orange;
  padding-bottom: 10px;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.TeamMember {
  display: flex;
  justify-content: space-evenly;

}

.TeamMember img {
  border-radius: 10px;
  margin: 10px;
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.card5 {
  text-align: center;


}
.explore-options{
  list-style: none;
}
.option1{
  color: black !important;
}
.option1:hover{
  color: orange !important;
}

@media screen and (max-width: 768px) {
  .section1 {
    flex-direction: column;
  }

  .column-image,
  .column-description {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .column-description h2 {
    width: 100%;
    font-size: 30px;
    line-height: 36px;
  }

  .column-description p {
    font-size: 20px;
    line-height: 24px;
  }

  .section2_inside1 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .section2 .column {
    margin-top: 40px;
  }

  .section2 .column img {
    max-width: 100%;
  }

  #section3 {
    padding: 20px;
  }

  /* Style for section 4 */
  #section4 {
    flex-direction: column;
  }

  #section4 .left {
    width: 100%;
  }

  #section4 .right {
    width: 100%;
    margin-top: 20px;
  }
}
.explore{
  width: 100px;
}

@media only screen and (max-width: 768px) {
  .TeamMember {
    display: flex;
    flex-direction: column;
  }

  .section3 {
    text-align: center;
  }

  .section3_inside {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section3_inside .card1 {
    margin-bottom: 1rem;
  }

  .section3 h2 {
    font-size: 36px;
  }

  .section4 {
    text-align: center;
  }

  .section4_inside {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section4_inside .card2 {
    margin-bottom: 1rem;
    width: -webkit-fill-available;
  }

  .section4 h1,
  .section4 h2 {
    font-size: 36px;
  }
}