.SideMenu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  background-color: #f0f2f5;
  padding: 20px;
}
.SideMenuVertical{
  height: 100vh;
}
.SideMenuVertical .ant-menu-item {
  margin-bottom: 10px;
}

.SideMenuVertical .ant-menu-item i {
  margin-right: 10px;
}

.SideMenuVertical .ant-menu-item-selected {
  background-color: #1890ff;
  color: #fff;
}

.SideMenuVertical .ant-menu-item-selected i {
  color: #fff;
}
.page-content {
  flex: 1;
  padding: 20px;
}
.dashboard-container {
  display: flex;
}
.admin-name{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}