/* .H1 {
  margin-top: 5px;
  font-size: 30px;
  color: black;
  font-weight: 700;
}

.H1:hover {
  color: #965a33;
}

.H2 {
  margin-top: 5px;
  font-size: 30px;
  font-weight: 700;
  color: #965a33;
}

.H2:hover {
  color: black;
}

.goback-link {
  color: black;
  font-size: 0px;
}

.goback-link:hover {
  color: #965a33;
}

.container-2 {
  border-radius: 5px;
  padding: 15px;
  width: 80%;
  margin-top: 20px;
  margin-left: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #965a33;
  color: white;
}

.Dline {
  border: none;
  border-top: 1.5px solid;
  font-weight: 1px;
  width: 80%;
  margin-left: 135px;
  box-shadow: 2px 2px 2px gray;
}

.Vehicle-details-car {
  width: 92%;
  border: 1px solid;
  margin: 50px;
  display: flex;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
}

.Vehicle-details-car h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.Vehicle-details-car img {
  margin: 20px;
  width: 35%;
}

.details {
  margin: 20px;
  margin-left: 20px;
}

.details h2 {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 25px;
}

.d {
  margin: 0px;
  width: 650px;
}

.v {
  font-size: 18px;
  font-style: normal;
  font-family: none;
  margin-top: 30px;
}

.c {
  font-style: normal;
  font-family: none;
}

.mini-bar {
  display: flex;
}

.navbar {
  display: inline-flex;
}

.container-4-vehicleowner-details{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  width: 92%;
  margin: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
}

.detail {
  flex: 1;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
}

.detail h4 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail h5 {
  font-size: 16px;
  margin-top: 20px;
}

.detail article {
  font-size: 14px;
  margin-bottom: 20px;
}

.container-5 {
  text-align: center;
  margin-top: 20px;
}

.top {
  color: white;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-family: none;
}



.account-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.button {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  display: inline-block;
  width: 50%;
  border-radius: 5px;
  border: 1px solid;
  background-color: #965a33;
  color: white;
}

.button:hover {
  background-color: rgb(43, 192, 122);
}

.last {
  text-align: center;
  height: 10vh;
}

.h4 {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}

.transfer2 {
  width: 92%;
  border: 1px solid;
  margin: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
}

.in-transfer {
  padding: 0 20px 20px 20px;
  width: 50%;
}

.out-transfer {
  padding: 0 20px 20px 20px;
  width: 50%;
}

.transfer0 input {
  width: 100%;
  box-shadow: 1px 1px 1px gray;
  border-radius: 5px;
  border: 1px solid;
  height: 30px;
  padding: 15px;
}

.transfer0 {
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .container-2 {
    border-radius: 5px;
    padding: 15px;
    width: 75%;
    margin-top: 20px;
    margin-left: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #965a33;
    color: white;
  }

  .Dline {
    border: none;
    border-top: 1.5px solid;
    font-weight: 1px;
    width: 75%;
    margin-left: 135px;
    box-shadow: 2px 2px 2px gray;
  }

  .d {
    margin: 0px;
    width: 520px;
  }
}

@media only screen and (max-width: 800px) {
  .container-2 {
    border-radius: 5px;
    padding: 15px;
    width: 70%;
    margin-top: 20px;
    margin-left: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #965a33;
    color: white;
  }

  .Dline {
    border: none;
    border-top: 1.5px solid;
    font-weight: 1px;
    width: 70%;
    margin-left: 135px;
    box-shadow: 2px 2px 2px gray;
  }

  .d {
    margin: 0px;
    width: 370px;
  }

  .transfer2 {
    width: 92%;
    border: 1px solid;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    height: 50vh;
  }
}

@media only screen and (max-width: 600px) {
  .Vehicle-details-car {
    width: 92%;
    border: 1px solid;
    margin: 50px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
  }

  .Vehicle-details-car img {
    margin: 20px;
    width: 90%;
  }

  .container-2 {
    border-radius: 5px;
    padding: 15px;
    width: 64%;
    margin-top: 20px;
    margin-left: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #965a33;
    color: white;
  }

  .Dline {
    border: none;
    border-top: 1.5px solid;
    font-weight: 1px;
    width: 64%;
    margin-left: 115px;
    box-shadow: 2px 2px 2px gray;
  }

  .d {
    margin: 0px;
    width: 380px;
  }
} */

.H1 {
  margin-top: 5px;
  font-size: 30px;
  color: black;
  font-weight: 700;
}

.H1:hover {
  color: #965a33;
}

.H2 {
  margin-top: 5px;
  font-size: 30px;
  font-weight: 700;
  color: #965a33;
}

.H2:hover {
  color: black;
}

.goback-link {
  color: rgb(0, 0, 0);
  font-size: 0px;
  top: 15px;
  position: relative;
  margin-top: 37px;
}

.goback-link:hover {
  color: #ffffff;
}

.container-2-details {
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  margin-top: -63px;
  margin-left: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-style: italic; */
  background-color: #965a33;
  color: white;
}

.Dline {
  border: none;
  border-top: 1.5px solid;
  font-weight: 1px;
  width: 80%;
  margin-left: 170px;
  box-shadow: 2px 2px 2px gray;
}

.Vehicle-details-car {
  width: 92%;
  border: 1px solid;
  margin: 50px;
  display: flex;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  margin-left: 67px;
}

.Vehicle-details-car h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.Vehicle-details-car img {
  margin: 20px;
  width: 35%;
}

.details {
  margin: 20px;
  margin-left: 20px;
}

.details h2 {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 25px;
}

.d {
  margin: 0px;
  width: 650px;
}

.v {
  font-size: 18px;
  font-style: normal;
  font-family: none;
  margin-top: 30px;
}

.c {
  font-style: normal;
  font-family: none;
}

/* .mini-bar {
  display: flex;
} */

.navbar {
  display: inline-flex;
}

.container-4-vehicleowner-details {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  width: 92%;
  margin: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  margin-left: 67px;
}

.detail {
  flex: 1;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.detail h4 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail h5 {
  font-size: 16px;
  margin-top: 20px;
}

.detail article {
  font-size: 14px;
  margin-bottom: 20px;
}

.container-5 {
  text-align: center;
  margin-top: 20px;
}

.top {
  color: white;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-family: none;
  padding-top: 20px;
  padding-bottom: 9px;
}

/* .transfervehicle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transfervehicle #car {
  font-size: 40px;
  margin-right: 10px;
}

.transfervehicle .t {
  font-size: 16px;
  font-weight: bold;
}

.transfervehicle #arrow {
  font-size: 24px;
  margin-left: 10px;
} */

.account-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.button {
  /* Button styles */
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  display: inline-block;
  width: 50%;
  border-radius: 5px;
  border: 1px solid;
  background-color: #965a33;
  color: white;
}

.button:hover {
  background-color: rgb(0, 0, 0);
}

.last {
  text-align: center;
  height: 10vh;
  /* Adjust the height based on your layout */
}

.h4 {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}

.transfer2 {
  width: 92%;
  border: 1px solid;
  margin: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  margin-left: 67px;
  position: flex;
}

.in-transfer {
  padding: 0 20px 20px 20px;
  width: 50%;
}

.out-transfer {
  padding: 0 20px 20px 20px;
  width: 50%;
}

.transfer0 input {
  width: 100%;
  box-shadow: 1px 1px 1px gray;
  border-radius: 5px;
  border: 1px solid;
  height: 30px;
  padding: 15px;
}

.transfer0 {
  display: flex;
}

@media screen and (min-width: 1440px) {
  #Goback {
    position: relative;
    left: 110px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-2 {
    border-radius: 5px;
    padding: 15px;
    width: 75%;
    margin-top: 20px;
    margin-left: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #965a33;
    color: white;
  }

  .Dline {
    border: none;
    border-top: 1.5px solid;
    font-weight: 1px;
    width: 80%;
    margin-left: 105px;
    box-shadow: 2px 2px 2px gray;
  }

  .d {
    margin: 0px;
    width: 520px;
  }

  .container-2-details {
    margin-left: 105px;
  }
  .account-details {
    font-size: 20px;
  }
  #Goback {
    position: relative;
    left: 100px;
  }
  .Vehicle-details-car {
    margin-left: 40px;
  }
  .container-4-vehicleowner-details {
    margin-left: 40px;
  }
  .transfer2 {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .container-2 {
    border-radius: 5px;
    padding: 15px;
    width: 70%;
    margin-top: 20px;
    margin-left: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #965a33;
    color: white;
  }

  .Dline {
    border: none;
    border-top: 1.5px solid;
    font-weight: 1px;
    width: 70%;
    margin-left: 135px;
    box-shadow: 2px 2px 2px gray;
  }

  .d {
    margin: 0px;
    width: 370px;
  }

  .transfer2 {
    width: 92%;
    border: 1px solid;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    height: 50vh;
  }
}

@media only screen and (max-width: 600px) {
  .container-2-details {
    margin-left: 45px;
    padding: 10px;
    width: 550px;
  }

  .top {
    font-size: 25px;
  }

  #Goback {
    position: relative;
    left: 20px;
    top: -8px;
  }

  .account-details {
    font-size: 15px;
  }

  .Vehicle-details-car {
    width: 92%;
    border: 1px solid;
    margin: 50px;
    margin-top: 230px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    margin-left: 43px;
  }

  .Vehicle-details-car img {
    margin: 20px;
    width: 90%;
  }

  .container-2 {
    border-radius: 5px;
    padding: 15px;
    width: 64%;
    margin-top: 20px;
    margin-left: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #965a33;
    color: white;
  }

  .Dline {
    border: none;
    border-top: 1.5px solid;
    font-weight: 1px;
    width: 64%;
    margin-left: 115px;
    box-shadow: 2px 2px 2px gray;
  }

  .d {
    margin: 0px;
    width: 380px;
  }

  .container-4-vehicleowner-details {
    margin-left: 44px;
  }

  .transfer2 {
    margin-left: 44px;
    padding-bottom: 10px;
    height: 220px;
  }
}