.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer__logo {
    font-size: 2rem;
    font-weight: bold;
  }

  /* .feedback{
    margin-left: -350px;
  } */
  
 a {
    text-decoration: none;
    color: rgb(251, 244, 244);
 }

 .links1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  .links1 li {
    margin: 0.5rem 0;
  }

  .links2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  .links2 li {
    margin: 0.5rem 0;
  }  
  .form1 {
    background-color: #dcdcdc;
    padding: 30px;
    padding-right: 48px;
    border-radius: 5px;
    margin: 30px auto;
    width: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: black;
  }
  
  .form1 h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .form1 label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    
  }
  .form1 input[type=email] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
    background-color: #f2f2f2;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
  }
  
  .form1 input[type=email]:focus {
    outline: none;
    border: 2px solid #0077b6;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
  }
  .form1 input[type=text], .form1 textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
  }
  
  .send {
    background-color: #0077b6;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .send:hover {
    background-color: #023e8a;
  }
  
  
  @media only screen and (max-width: 768px) {
    .footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  