.app2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140vh;
  background: url("https://images4.alphacoders.com/102/1026399.jpg");
  background-size: cover;
  background-position: center;
}

.form-container {
  background-color: white;
  padding: 25px 60px;
  border-radius: 10px;
}

h1 {
  color: rgb(97, 66, 38);
  text-align: center;
}

.loginbutton {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(97, 66, 38);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 50px;
}
.signup_button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(97, 66, 38);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 50px;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app2 input {
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px; 
  border: 1px solid gray;
}

.app2 label {
  color: gray;
}

.app2 span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}
.signupblue {
  color: rgb(45, 45, 220);
  padding-left: 5px;

}
.app2 input:invalid[focused="true"] {
  border: 1px solid red;
}

.app2 input:invalid[focused="true"] ~ span {
  display: block;
}

.checkbox-container{
  display: flex;
}
.Cbox{
  display: flex;
}
.form-check-label{
  margin-top: 3px;
  margin-left: 10px;
}
.Box{
  display: flex;
}