/* .header-container {
  position: relative;
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: transparent;
  transition: background-color 0.5s ease;

}

.header.visible {
  background-color: #333;
}

.header.visible .logo,
.header.visible .nav-links a {
  color: white;
}

.logo {
  font-size: 35px !important;
  font-weight: bold;
  text-decoration: none;
  color: brown;
  margin-right: 80px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 500px;
}

.nav-links li {
  margin: 0 10px;
  font-size: 20px;
  margin-top: 10px;
}

.nav-links a {

  font-size: 20px;
  text-decoration: none;
  color: brown;
  font-weight: 700;
}
.profilepicure-notifi{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-picture {
  width: 50px;
  height: 45px;
  border-radius: 50%;
}

.dropdown-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 2px;
}
.profile-dropdown{
 display: flex;
}

.dropdown-icon svg {
  width: 100%;
  height: 100%;
  fill: #000;
}








@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .logo {
    font-size: 24px;
    margin: 0;
  }

  .nav-links {
    margin-top: 20px;
  }

  .nav-links li {
    margin: 10px, 0;
  }

  .nav-links a {
    font-size: 16px;
  }
  .dropdown {
    left: auto; 
    right: 20px; 
    bottom: 10px; 
  }
}

@media (max-width: 1024px) {
  .dropdown {
    left: auto;
    right: 20px;
    bottom: 10px;
  }
} */
.transferId {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.confirm-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.dropdown {
  position: absolute !important;
  left: 1300px;
  bottom: 22px;
}

.dropdown .profile-picture {
  cursor: pointer;
}
.confirm-button:hover {
  background-color: #3e8e41;
}
.notification-input{
  width: 500px;
}

.dropdown-menu {
  display: flex !important;
  flex-direction: column;
  background-color: rgb(230, 22, 22);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,
      0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  cursor: pointer;
  padding: 5px 0;
}
.modal-notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content-notification {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.modal-close-notification {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.header-container {
  position: relative;
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.header.visible {
  background-color: #333;
}

.header.visible .logo,
.header.visible .nav-links a {
  color: white;
}

.logo {
  font-size: 35px !important;
  font-weight: bold;
  text-decoration: none;
  color: brown;
  margin-right: 80px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 500px;
}

.nav-links li {
  margin: 0 10px;
  font-size: 20px;
  margin-top: 10px;
}

.nav-links a {
  font-size: 20px;
  text-decoration: none;
  color: brown;
  font-weight: 700;
}
.profilepicure-notifi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-picture {
  width: 50px;
  height: 45px;
  border-radius: 50%;
}

.dropdown-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 2px;
}
.profile-dropdown {
  display: flex;
}

.dropdown-icon svg {
  width: 100%;
  height: 100%;
  fill: #000;
  /* Customize the icon color */
}

.dropdown {
  position: absolute !important;
  left: 1300px;
  bottom: 22px;
}

.dropdown .profile-picture {
  cursor: pointer;
}

.dropdown-menu {
  display: flex !important;
  flex-direction: column;
  background-color: rgb(230, 22, 22);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  cursor: pointer;
  padding: 5px 0;
}
.modal-notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content-notification {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.modal-close-notification {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    font-size: 24px;
    margin: 0;
  }

  .nav-links {
    margin-top: 20px;
  }

  .nav-links li {
    margin: 10px, 0;
  }

  .nav-links a {
    font-size: 16px;
  }
  .dropdown {
    left: auto; /* Remove the left positioning */
    right: 20px; /* Add right positioning */
    bottom: 10px; /* Adjust the bottom positioning */
  }
}

@media (max-width: 1024px) {
  .dropdown {
    left: auto;
    right: 20px;
    bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .nav-links {
    margin-left: 50px;
  }

  .profilepicure-notifi {
    position: relative;
    left: -5px;
    top: -50px;
  }

  .dropdown-menu{
    position: relative;
    left: -60px;
    top: -60px;
  }
}