
.form-container {
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}

.app2 h1 {
  color: rgb(97, 66, 38);
  text-align: center;
}

.app2 button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(97, 66, 38);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  /* margin-bottom: 15px; */
}

/* #loginbutton {
  width: 90%;
} */

.form-check-label {
  margin-left: 10px;
}
.link_Signup {
  margin-bottom: 40px;
}
