/* .container-2-myvehicle {
    border-radius: 5px;
    padding: 15px;
    width: 80%;
    margin-top: 20px;
    margin-left: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #965a33;
    color: white;
  }
  .Vline {
    border: none;
    border-top: 1.5px solid;
    font-weight: 1px;
    width: 80%;
    margin-left: 135px;
    box-shadow: 2px 2px 2px gray;
  }
  
  .container-2 h3 {
    color: white;
    font-size: 35px;
  }
  .m {
    color: white;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    font-family: none;
  }
   
  .container-3 {
    width: 92%;
    border: 1px solid;
    margin: 50px;
    display: flex;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
  }
  
  .contant-1 {
    width: fit-content;
    margin: 20px;
    padding: 5px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
  }
  
  .container-3 img {
    margin: 20px;
    width: 35%;
  }
  .b {
    margin: 0px;
    width: 650px;
  }
  .p {
    font-size: 18px;
    font-style: normal;
    font-family: none;
    margin-top: 20px;
  }
  .k {
    font-size: 18px;
    font-style: normal;
    font-family: none;
  }
  .moredetailsbutton {
    margin-top: 20px;
    padding: 10px;
    background-color: #965a33;
    color: white;
    border: none;
    border-radius: 5px;
  }
  svg {
    width: 50px;
    height: 33px;
  }
  .mini-bar {
    display: flex;
  }
  .navbar {
    display: inline-flex;
  }
  
  @media only screen and (max-width: 1024px) {
    .contant-1 {
      width: fit-content;
      margin: 20px;
      padding: 5px;
      font-style: italic;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 20px;
    }
    .container-3 img {
      margin: 20px;
      width: 35%;
    }
    .b {
      margin: 0px;
      width: 430px;
    }
    .container-3 img {
      margin: 20px;
      width: 45%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .b {
      margin: 0px;
      width: 250px;
    }
    .container-3 img {
      margin: 20px;
      width: 50%;
    }
    .container-2-myvehicle {
      border-radius: 5px;
      padding: 15px;
      width: 70%;
      margin-top: 20px;
      margin-left: 135px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #965a33;
      color: white;
    }
    .Vline {
      border: none;
      border-top: 1.5px solid;
      font-weight: 1px;
      width: 70%;
      margin-left: 135px;
      box-shadow: 2px 2px 2px gray;
    }
  }
  
  @media only screen and (max-width: 425px) {
    .container-2-myvehicle {
      border-radius: 5px;
      padding: 15px;
      width: 50%;
      margin-top: 20px;
      margin-left: 135px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #965a33;
      color: white;
    }
    .Vline {
      border: none;
      border-top: 1.5px solid;
      font-weight: 1px;
      width: 50%;
      margin-left: 135px;
      box-shadow: 2px 2px 2px gray;
    }
    .m {
      color: white;
      font-size: 35px;
      font-weight: 600;
      font-style: normal;
      font-family: none;
    }
    .container-3 {
      width: 92%;
      border: 1px solid;
      margin: 50px;
      display: inline-block;
      border-radius: 5px;
      box-shadow: 2px 2px 2px gray;
    }
    .b {
      margin: 0px;
      width: 335px;
    }
    .container-3 img {
      margin: 20px;
      width: 90%;
    }
    .moredetailsbutton {
      margin-top: 20px;
      padding: 10px;
      background-color: #965a33;
      color: white;
      border: none;
      border-radius: 5px;
      width: 100%;
    }
  }
   */
   .container-2-myvehicle {
    border-radius: 5px;
    padding: 26px;
    width: 80%;
    margin-top: 20px;
    margin-left: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-style: italic; */
    background-color: #965a33;
    color: white;
  }
  .Vlinemyvehicle {
    border: none;
    border-top: 1.5px solid;
    font-weight: 1px;
    width: 80%;
    margin-left: 176px;
    box-shadow: 2px 2px 2px gray;
  }
  
  .container-2 h3 {
    color: white;
    font-size: 35px;
  }
  .m {
    color: white;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    font-family: none;
  }
  
  /* hr {
    border: none;
    border-top: 1.5px solid;
    font-weight: 1px;
    width: 80%;
    margin: 50px;
    margin-left: 170px;
    box-shadow: 2px 2px 2px gray;
  } */
  
  /* .container-2 h3 {
    font-size: 35px;
  } */
  
  .container-3 {
    width: 92%;
    border: 1px solid;
    margin: 50px;
    display: flex;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    margin-left: 67px;
  }
  
  .contant-1 {
    /* border: 1px solid; */
    width: fit-content;
    margin: 20px;
    padding: 5px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
  }
  
  .container-3 img {
    margin: 20px;
    width: 35%;
  }
  .b {
    margin: 0px;
    width: 650px;
  }
  .p {
    font-size: 18px;
    font-style: normal;
    font-family: none;
    margin-top: 20px;
  }
  .k {
    font-size: 18px;
    font-style: normal;
    font-family: none;
  }
  .moredetailsbutton {
    margin-top: 20px;
    padding: 10px;
    background-color: #965a33;
    color: white;
    border: none;
    border-radius: 5px;
  }
  /* .moredetailsbutton:hover {
    background-color: rgb(43, 75, 192);
  } */
  svg {
    width: 50px;
    height: 33px;
  }
  .mini-bar {
    display: flex;
  }
  .navbar {
    display: inline-flex;
  }
  
  @media only screen and (max-width: 1024px) {
    .contant-1 {
      /* border: 1px solid; */
      width: fit-content;
      margin: 20px;
      padding: 5px;
      font-style: italic;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 30px;
    }
    /* .container-3 img {
      margin: 20px;
      width: 35%;
    } */
    .b {
      margin: 0px;
      width: 430px;
    }
    .container-3 img {
      margin: 20px;
      width: 45%;
    }
    .container-2-myvehicle{
      margin-left: 110px;
    }
    .Vlinemyvehicle{
      margin-left: 110px;
    }
    .container-3{
      margin-left: 45px;
    }
  }
  
  /* @media only screen and (max-width: 768px) {
    .b {
      margin: 0px;
      width: 250px;
    }
    .container-3 img {
      margin: 20px;
      width: 50%;
    }
    .container-2-myvehicle {
      border-radius: 5px;
      padding: 15px;
      width: 70%;
      margin-top: 20px;
      margin-left: 135px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #965a33;
      color: white;
    }
    .Vline {
      border: none;
      border-top: 1.5px solid;
      font-weight: 1px;
      width: 70%;
      margin-left: 135px;
      box-shadow: 2px 2px 2px gray;
    }
  } */
  
  /* @media only screen and (max-width: 425px) {
    .container-2-myvehicle {
      border-radius: 5px;
      padding: 15px;
      width: 50%;
      margin-top: 20px;
      margin-left: 135px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #965a33;
      color: white;
    }
    .Vline {
      border: none;
      border-top: 1.5px solid;
      font-weight: 1px;
      width: 50%;
      margin-left: 135px;
      box-shadow: 2px 2px 2px gray;
    }
    .m {
      color: white;
      font-size: 35px;
      font-weight: 600;
      font-style: normal;
      font-family: none;
    }
    .container-3 {
      width: 92%;
      border: 1px solid;
      margin: 50px;
      display: inline-block;
      border-radius: 5px;
      box-shadow: 2px 2px 2px gray;
    }
    .b {
      margin: 0px;
      width: 335px;
    }
    .container-3 img {
      margin: 20px;
      width: 90%;
    }
    .moredetailsbutton {
      margin-top: 20px;
      padding: 10px;
      background-color: #965a33;
      color: white;
      border: none;
      border-radius: 5px;
      width: 100%;
    }
  } */
  
  @media screen and (max-width: 600px) {
    .container-2-myvehicle{
      margin-left: 33px;
      padding: 10px;
      width: 550px;
    }
  
    .m{
      font-size: 25px;
    }
  
    .Vlinemyvehicle{
      margin-left: 33px;
      width: 550px;
    }
  
    .container-3{
      margin-left: 33px;
      width: 550px;
    }
  
    .contant-1{
      margin-left: 10px;
    }
  
    .b{
      width: 200px;
    }
  
    .moredetailsbutton{
      margin-left: -3px;
    }
  
    .more-details-link{
      padding: 5px;
      font-size: 10px;
    }
  }
  
  @media screen and (min-width:1441px) {
    .dropdown-menu{
      margin-top: 10px;
  }
}