#AutoChain {
  position: absolute;
  top: 15px;
  height: 20px;
  width: 90px;
  left: 70px;
}

.headingTop {
  margin-bottom: 90px;
}

#Goback {
  font-size: 25px;
  position: absolute;
  left: 30px;
  top: 9px;
}
#Goback a {
  color: black;
}
#Goback a:hover {
  color: rgb(155, 92, 36);
}

#notificon {
  margin-top: 5px;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  left: 90%;
  font-size: 25px;
}
#notificon a {
  color: black;
}
#notificon a:hover {
  color: rgb(155, 92, 36);
}

#profileIcon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  left: 95%;
}

.heading1 {
  box-shadow: 1px 3px 3px grey;
  width: 70%;
  background-color: #965a33;
  position: absolute;
  margin-bottom: 30px;
  border-radius: 10px;
  font-style: italic;
  padding: 20px;
}

.heading1 h2 {
  text-align: center;
  color: white;
  font-size: 35px;
  font: italic;
}

.one {
  background: white;
  text-align: left;
  padding: 50px 20px 40px 20px;
  border-radius: 8px 8px;
  border: 1px solid rgb(18, 16, 16);
  display: flex;
}
.vehicle img {
  width: 100%;
  height: 50%;
  margin-top: 20px;
}
.del h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

.p1 {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.p2 {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}

.two {
  background: white;
  text-align: left;
  padding: 50px 20px 15px 20px;
  border-radius: 8px 8px;
  border: 1px solid rgb(18, 16, 16);
  display: flex;
  margin-bottom: 80px;
}
.card-body h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

.p3 {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.p4 {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
.vertical-center {
  display: flex;
  justify-content: center;
}
.button {
  background-color: #965a33;
  border-radius: 10px;
  padding: 10px 150px 10px 150px;
  border: 1px solid black;
  font-weight: 700;
  color: white;
}
.button:hover {
  background: green;
}

@media (max-width: 425px) {
  .one {
    padding: 30px 10px 20px 10px;
  }

  .heading1 h2 {
    text-align: center;
    margin-top: 15px;
    color: white;
    font-size: 20px;
    font: italic;
  }
}
