/* Popup container */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Popup message box */
.popup-message {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 400px;
}

/* Message paragraph */
.popup-message p {
  margin: 0;
  margin-bottom: 20px;
}

/* Popup buttons container */
.popup-buttons {
  display: flex;
  justify-content: center;
}

/* Button styles */
.popup-buttons button {
  background-color: #965a33;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  /* margin-left: 10px; */
}
.yes {
  margin-right: 20px;
}

.popup-buttons button:hover {
  background-color: #555;
}
