.input-field-display{
    display: flex;
    justify-content: space-evenly;
}

.formdiv{
    border: 1px solid;
    box-shadow: 3px 3px 3px grey;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid;
    background-color: white;
    margin-bottom: 50px;
    
}
.vehicleinformation{
    font-size: 30px;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 43px;
    font-weight: 400px;
}
.heading1{
    border: 1px solid;
    box-shadow: 3px 3px 3px grey;
    width: 70%;
    padding: 10px;
    background-color: #965A33;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 100px;

}

form{
    margin-bottom: 5%;
    
}




#submitBut{
    display: block;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #965A33;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 40px;

}

.formContainer{
    display: flex;
}

.coloumn{
    width: 50%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;

}
.column2{
    row-gap: 25px   ;
}

.registrationForm{
    font-size: 25px;
    color: aliceblue;
}
.Regisform h2{
    color: black;
}

.coloumn h4{
    margin-bottom: -15px;
}



#Vimg{
    margin-left: -10px;
}

.generate-btn-container{
    display: flex;
}

.column-detail-container{
    display: flex;
    width: 100%;
    max-width: 300px;
    flex-direction: column;
    row-gap: -20px;
    text-align: left;
}

.column-input-container>:nth-child(2){
    margin-bottom: 5px;
}

.column-input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    text-align: left;
    row-gap:  15px;
    
}

.vehicle-detail-input{
    width: 100%;
    height: 30px;
    border-radius: 8px;
}

@media only screen and (max-width: 900px)  {
    .vehicle-detail-input{
        width: 100%;
        height: 30px;
        border-radius: 8px;
        align-content: flex-end;
    }
    .column-detail-container{
        
        width: 100%;
        
    
        row-gap: -20px;
        text-align: right;
    }
    
    
    
    
    .formContainer{
        display: contents;
    }

    #col1{
        margin-left: 180px;
    }
    

    .heading1 h2{
        font-size: large;
        margin-top: 20px;
    }
    
    
    .formdiv{
        border: 1px solid;
        box-shadow: 3px 3px 3px grey;
        margin-top: 230px;
        margin-left: 5%;
        margin-right: 5%;
        border-bottom: 1px solid;
        background-color: white;
        
    }
    
    .heading1{
        border: 1px solid;
        box-shadow: 3px 3px 3px grey;
        width: 70%;
        padding: 10px;
        background-color: #963343;
        
        left: 15%;
        top:80px;
        border-radius: 10px;
    
    }
    
    .heading1 img{
        width: 100px;
        float: left;
        margin-left: 20px;
    }
    
    
    .column-input-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;
        align-content: center;
        row-gap:  15px;
        margin-top: 10px;
        
    }
    #submitBut{
        padding: 10px;
        padding-left: 5%;
        padding-right: 5%;
        background-color: red;
        border-radius: 10px;
        font-size: 15px;
        color: white;
        font-weight: bold;
        margin-top: 40px;
    
    }
}



/* 
 .input-field-display{
    display: flex;
    justify-content: space-evenly;
}

.formdiv{
    border: 1px solid;
    box-shadow: 3px 3px 3px grey;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid;
    background-color: white;
    margin-bottom: 50px;
    
}
.vehicleinformation{
    font-size: 30px;
    text-align: center;
    margin-top: 27px;
    margin-bottom: 43px;
    font-weight: 400px;
}

.registrationForm{
    color: white;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    font-family: none;
}

form{
    margin-bottom: 5%;
    
}
.container-2-register{
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    margin-top: 20px;
    margin-left: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #965a33;
    color: white;
}

.Vline {
    border: none;
    border-top: 1.5px solid;
    font-weight: 1px;
    width: 80%;
    margin-left: 170px;
    box-shadow: 2px 2px 2px gray;
  }

.vehicleregistrationform{
    color: white;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    font-family: none;
    padding-top: 20px;
}

#submitBut{
    display: block;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #965A33;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 40px;

}

.formContainer{
    display: flex;
}

.coloumn{
    width: 50%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;

}
.column2{
    row-gap: 25px   ;
}

.registrationForm{
    font-size: 25px;
    color: aliceblue;
}
.Regisform h2{
    color: black;
}

.coloumn h4{
    margin-bottom: -15px;
}



#Vimg{
    margin-left: -10px;
}

.generate-btn-container{
    display: flex;
}

.column-detail-container{
    display: absolute;
    width: 100%;
    max-width: 300px;
    flex-direction: column;
    row-gap: -20px;
    text-align: left;
    margin-top: 50px;
    margin-left: 140px;
}

.column-input-container>:nth-child(2){
    margin-bottom: 5px;
}

.column-input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    text-align: left;
    row-gap:  15px;
    
}

.vehicle-detail-input{
    width: 100%;
    height: 30px;
    border-radius: 8px;
}


@media only screen and (max-width: 900px)  {
    .vehicle-detail-input{
        width: 100%;
        height: 30px;
        border-radius: 8px;
        align-content: flex-end;
    }
    .column-detail-container{
        
        width: 100%;
        
    
        row-gap: -20px;
        text-align: right;
    }
    
    
    
    
    .formContainer{
        display: contents;
    }

    #col1{
        margin-left: 180px;
    }
    

    .heading1 h2{
        font-size: large;
        margin-top: 20px;
    }
    
    
    .formdiv{
        border: 1px solid;
        box-shadow: 3px 3px 3px grey;
        margin-top: 230px;
        margin-left: 5%;
        margin-right: 5%;
        border-bottom: 1px solid;
        background-color: white;
        
    }
    
    .heading1{
        border: 1px solid;
        box-shadow: 3px 3px 3px grey;
        width: 70%;
        padding: 10px;
        background-color: #963343;
        
        left: 15%;
        top:80px;
        border-radius: 10px;
    
    }
    
    .heading1 img{
        width: 100px;
        float: left;
        margin-left: 20px;
    }
    
    
    .column-input-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;
        align-content: center;
        row-gap:  15px;
        margin-top: 10px;
        
    }
    #submitBut{
        padding: 10px;
        padding-left: 5%;
        padding-right: 5%;
        background-color: red;
        border-radius: 10px;
        font-size: 15px;
        color: white;
        font-weight: bold;
        margin-top: 40px;
    
    }
}

@media screen and  (max-width: 1024px)  {
    
    .container-2-register{
        margin-left: 100px;
    }

    .Vline{
        margin-left: 100px;
    }
    .column-detail-container{
        margin-left: 90px;
    }
}

@media screen and (max-width: 786px) {
    .container-2-register{
        margin-left: 75px;
    }

    .Vline{
        margin-left: 75px;
        margin-bottom: -190px;
    }

    .column-detail-container{
        margin-left: 10px;
        margin-top: 20px;
    }

    .default_input{
        text-align: left;
        font-size: 25px;
    }

    .nav-links{
        margin-right: 250px;
    }

    .profilepicure-notifi{
        margin-top: -60px;
    }
}

@media screen and (min-width: 1441px) {
    .container-2-register{
        margin-left: 170px;
    }

    .Vline{
        margin-left: 170px;
    }

    .default_input{
        font-size: 20px;
        padding: 10px 0px 10px 0px;
    }

    .profilepicure-notifi{
        margin-left: 180px;
    }

    .nav-links{
        margin-left: 50px;
    }
}

@media screen and (max-width: 600px) {
    .container-2-register{
        margin-left: 33px;
        padding: 10px;
        width: 550px;
    }

    .vehicleregistrationform{
        font-size: 25px;
    }

    .Vline{
        margin-left: 33px;
        width: 550px;
    }

    .input-field-display{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formdiv{
        width: 544px;
        margin-left: 38px;
    }

    .columnR{
        margin-top: 20px;
        margin-right: 250px;
    }

    .default_input{
        margin-left: -65px;
        font-size: 15px;
    }

    .default_input2{
        position: relative;
        left: 60px;
        top: -34px;
    }

    .default_input3{
        position: relative;
        right: 69px;
    }

} */