.container-2-transfer {
  /* border: 1px solid; */
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
  padding: 5px;
  width: 70em;
  margin-top: 20px;
  margin-left: 200px;
  text-align: center;
  font-style: italic;
  background-color: #965A33;
  color: white;

}

.container-2 h3 {
  color: white;
  font-size: 35px;
}

.container-3 {
  width: 79.8%;
  border: 1px solid;
  margin: 50px;
  display: flex;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  margin-left: 174px;
}

.container-3 img {
  margin: 20px;
  width: 40%;
  height: 40%;


}

hr {
  border: none;
  border-top: 1.5px solid;
  font-weight: 1px;
  width: 80%;
  margin: 50px;
  margin-left: 170px;
  box-shadow: 2px 2px 2px gray;
}

.g {
  margin: 0px;
  width: 650px;
}

.detail {
  margin: 20px;
  margin-left: 50px;
}

.container-3 h4 {
  margin-top: -2.5px;
  font-size: 25px;
}

.container-4 h4 {
  margin-top: -2.5px;
  font-size: 25px;
}

.container-3 p {
  font-style: italic;
  font-weight: lighter;
}

.h {
  font-style: normal;
  font-family: none;
}

.container-4 {
  border: 1px solid;
  width: 800px;
  border: 1px solid;
  margin: 100px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
  margin-left: 450px;
  text-align: center;
}

.in-container-4 {
  margin: 20px;
  /* border: solid; */
  text-align: center;
}

.container-4 input {
  width: 400px;
  box-shadow: 1px 1px 1px gray;
  border-radius: 5px;
  border: 1px solid;
  height: 30px;
  padding: 5px;
}

.container-4 button {
  padding: 10px;
  margin: 20px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid;
  background-color: #965A33;
  color: white;
}

.goback-link {
  color: black;
  width: 50px;
  height: 50px;
}

svg {
  width: 50px;
  height: 33px;
}

.mini-bar {
  display: flex;
}

.navbar {
  display: inline-flex;
}

/* @media only screen and (max-width: 600px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .mini-bar {
      margin-top: 10px;
    }
  
    .heading {
      margin-left: 0;
      margin-top: 10px;
    }
  
    .vehicle-details {
      flex-direction: column;
      align-items: center;
    }
  
    .detail {
      text-align: center;
      margin-top: 20px;
    }
  
    .owner-details {
      flex-direction: column;
      align-items: center;
    }
  
    .owner-form {
      margin-right: 0;
    }
  
    button {
      margin-top: 20px;
    }
  }
  
  /* Medium and large screens */
/* @media only screen and (min-width: 601px) {
    .navbar {
      flex-direction: row;
    }
  
    .content-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  
    .vehicle-details {
      align-items: flex-start;
    }
  
    .detail {
      text-align: left;
    }
  
    .owner-details {
      align-items: flex-start;
    }
  
    .owner-form {
      margin-right: 0;
    }
  } */