
.formdiv {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

h2 {
  margin-bottom: 20px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-picture-section {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.profilepicture-img{
  width: 100px;
  border-radius: 10px;
  margin-left: 10px;
}



.profile-info-section {
  display: flex;
  flex-direction: column;
}

.info-item {
  margin-bottom: 10px;
  margin-left: 10px;
}

label {
  display: block;
  font-weight: initial;
}

.file-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.save-button {
  padding: 10px 20px;
  width: 100px;
  background-color: #965A33;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.save-button:hover {
  background-color: #7d4b2e;
}
